*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    cursor: url(../cursor/gam308.cur), progress !important;
    background: url(../img/bg.jpg) no-repeat fixed center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    /* scroll-behavior: smooth; */
}

:root {
    --font-color : #fff;
    --black-color : #000;
}

@media (max-width:1023px) {
    .main {
        display: none;
    }
    .main__below-1200px {
        display: flex !important;
        
    }
    
}

